extends ../layout/head.pug 
block content
    main.page

        

        .swiper.my-swiper
            .swiper-wrapper

                .swiper-slide
                    include ../block/hero-section.pug

                .swiper-slide

                        section.product-section
                            .text-wrap 
                                p
                                    span Видео
                                    span Видео
                                    span Видео
                                    span Видео
                                    span Видео
                                p
                                    span Видео
                                    span Видео
                                    span Видео
                                    span Видео
                                    span Видео
                            .swiper.my-swiper2
                                .swiper-wrapper.wrpa2

                                    .swiper-slide
                                        .product-wrap
                                            .product
                                                video(src="images/Video.mp4" muted="muted" ) 
                                                .product__cta
                                                    button.product__btn.product__btn--play

                                    .swiper-slide
                                        .product-wrap
                                            .product
                                                img(src="images/product.jpg", alt="")
                                                .product__cta
                                                    a.product__btn.product__btn--link(href="#") 

                .swiper-slide
                    include ../block/form-section.pug


        