include mixins.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css', rel='stylesheet')
        link(href='css/styles.min.css', rel='stylesheet')
        link(href='css/media.min.css', rel='stylesheet')
        link(rel="icon" href="fic.svg" type="image/svg+xml")
        title #{title}
        
        script(src='js/jquery.min.js')
        script(src='js/jquery.inputmask.bundle.min.js')
        script(src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js')
        //- script(src='js/gsap/gsap.min.js')
        //- script(src='js/gsap/ScrollTrigger.min.js')
        script(src='js/main.js')
    body.inner-page
        include svg.pug
        block modal
        include ../block/backdrop.pug
        include ../block/menu-offcanvas.pug
        .wrapper 
            block header
                include header.pug
            block content 
            block footer
                //- include footer.pug