svg(xmlns='http://www.w3.org/2000/svg', style="display:none")
    symbol#burger(viewBox="0 0 30 9")
        rect(width="30" height="3")
        rect(x="20" y="6" width="10" height="3")
    symbol#succses(viewBox="0 0 24 24")
        circle(cx="12" cy="12" r="11.5" stroke="#27AE60" fill="none")
        path(d="M8 12L11 15L16 9" stroke="#27AE60" fill="none")