include ../layout/mixins.pug

ol.pagination
    ol.d-flex.gap-2
        li: a.disable(href="#"): +svg('pag-dleft', 16, 10)(class='icon')
        li: a.disable(href="#"): +svg('pag-left', 6, 10)(class='icon')
    ol.d-flex.gap-2
        li: a.active(href="#") 1
        li: a(href="#") 2
        li: a(href="#") 3
        li: a(href="#") 4
        li: a(href="#") 5
    ol.d-flex.gap-2
        li: a(href="#"): +svg('pag-right', 6, 10)(class='icon')
        li: a(href="#"): +svg('pag-dright', 16, 10)(class='icon')
